sentry.trenttech.co.uk {
	
	http_port 8080
	https_port 8443

	@api {
		path_regexp ^/api/[1-9]\d*/
	}

	reverse_proxy /api/store/ http://relay

	reverse_proxy @api http://relay:3000

	reverse_proxy / http://web:9000

	tls jon@trenttech.co.uk
}